#root {
  margin: 0 0;
  text-align: center;
}
body {
  display: block;
  margin: 0px;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
}

.logo {
  width: 100px; /* Adjust the size of the logo image as needed */
  height: 100px; /* Adjust the size of the logo image as needed */
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li:last-child {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.nav-links a:hover {
  background-color: #ddd;
}
.about-container {
  display: flex;
}
.about-introduction {
  padding-top: 350px;
  margin-left: -50px;
  color: rgb(0, 0, 0);
  font-size: 45px;
}
.about-based {
  color: rgb(0, 0, 0);
  font-size: 45px;
}
.aboutImage {
  width: 55vw;
}
