#root {
  margin: 0 0;
  text-align: center;
}
body {
  display: block;
  margin:0px;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
}

.logo {
  width: 100px; /* Adjust the size of the logo image as needed */
  height: 100px; /* Adjust the size of the logo image as needed */
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.nav-links a:hover {
  background-color: #ddd;
}
