#root {
  margin: 0 0;
  text-align: left;
  background-color: #080b24;
}
body {
  display: block;
  margin: 0px;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333333;
  z-index: 1000;
}

.logo { 
  width: 50px; /* Adjust the size of the logo image as needed */
  height: 50px; /* Adjust the size of the logo image as needed */
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li:last-child {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #f1f0f0;
  font-weight: bold;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 25px;
}

.nav-links a:hover {
  background-color: #242323;
}
.home-container{
  display:flex;
}
.home-text-container{
  flex-direction: column;
  justify-content: center; /* Center-align the spans vertically */
  height: 100vh;
  padding-left: 20%;
  margin-top:60px;
}
.home-text1{
  color: #f0f0f0;
  font-size: 35px;
  margin:0;
  margin-top: 35%;
}
.home-text2{
  color: #f0f0f0;
  font-weight: bold;
  font-size: 120px;
  margin:0;
}
.home-text3{
  color: #f0f0f0;
  font-size: 35px;
}
.home-button1{
  background-color: #4CAF50;
  border-radius: 12px;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width: 250px;
  margin-left:10%;
}
.home-button1:hover{
  background-color: #4CAF50; /* Green */
  color: white;
}
.about-container {
  display: flex;
}
.about-introduction {
  padding-top: 350px;
  color: #f0f0f0;
  font-size: 60px;
}
.about-based {
  color: #f0f0f0;
  font-size: 60px;
}
.aboutImage {
  height: 55vw;
}
